@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --font-large-font-family: "Inter", Helvetica;
  --font-large-font-size: 20px;
  --font-large-font-style: normal;
  --font-large-font-weight: 400;
  --font-large-letter-spacing: 0px;
  --font-large-line-height: normal;
  --font-medium-font-family: "Karla", Helvetica;
  --font-medium-font-size: 16px;
  --font-medium-font-style: normal;
  --font-medium-font-weight: 400;
  --font-medium-letter-spacing: 0px;
  --font-medium-line-height: normal;
  --font-small-font-family: "Karla", Helvetica;
  --font-small-font-size: 12px;
  --font-small-font-style: normal;
  --font-small-font-weight: 400;
  --font-small-letter-spacing: 0px;
  --font-small-line-height: normal;
  --primary-100: rgba(219, 236, 199, 1);
  --primary-300: rgba(177, 215, 134, 1);
  --primary-500: rgba(139, 195, 74, 1);
  --primary-700: rgba(99, 138, 53, 1);
  --primary-900: rgba(58, 82, 31, 1);
  --secondary-100: rgba(176, 234, 242, 1);
  --secondary-300: rgba(84, 210, 226, 1);
  --secondary-500: rgba(0, 188, 212, 1);
  --secondary-700: rgba(0, 133, 151, 1);
  --secondary-900: rgba(0, 79, 89, 1);
}
